*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


:root{
    font-size: 10px;
    --color1:#145868;
    --color2:#365d5c;
    --color3:#37727d;
    --color4:#8ba59a;
    --color5:#e9eadc;
}

html,body{
    font-size: 1.6rem;
}